<header>
  <img src="assets/logo.png" alt="Banka Logosu" class="logo">

  <!-- Menü -->
  <nav>
      <button routerLink="/login" routerLinkActive="active">Bireysel Giriş</button>
      <button routerLink="/corporate-login" routerLinkActive="active">Kurumsal Giriş</button>
      <button routerLink="/register" routerLinkActive="active">Başvuru Yap</button>
  </nav>
</header>

<!-- Buraya Sayfa İçeriği Gelecek -->
<main>
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<footer>
  <p>&copy; 2025 Banka. Tüm hakları saklıdır.</p>
</footer>
